.header{
	background-color:white;
}

.lheader{
	background-color:white;
}

#logo{
	background-color:white;
}

.logo{
	background-color:white;
}

*{
	box-sizing: border-box;
	background-color:#040919;
	
}

body{
	margin: 0;
	background-color:#040919;
	font-family: "Poppins", sans-serif;
}

.header{
	text-align: center;
	font-family: cooper;
	background-color:#040919;
	color:#fff;
	font-family: "Poppins", sans-serif;
	
}

.horizontal{
	background-color:#040919;
	
}
.horizontal:after{
	content: "";
	display: flex;
	clear: both;
	
	
}
.vertical{
	float: left;
	width: 25%;
	padding: 10px;
	background-color:#040919;
}
.vertical img{
	
	margin-bottom: 15px;
	width: 100%;
	cursor: pointer;
	filter: grayscale(1);
}
img:hover{
	
	filter: grayscale(0);
	transition: 0.5s;
}
@media(max-width: 720px){
	.vertical{
	width: 50%;
	}
}

div.header{
	padding-top:100px;
}

