.reg-blue {
    background-color: #101522;
    color: white;
}

h2{
    color: white;
}

.my-3 .required{
    color: white;
}
/*--------------------------------------------------------------
# conts Section
--------------------------------------------------------------*/
#conts-us {
    padding: 60px 0;
    background-color: #101522;
  }
  
  #conts-us h2{
    color:white;
  }
  
  #conts-us .conts-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #conts-us .conts-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #edbf7b;
  }
  
  #conts-us .conts-info address, #conts .conts-info p {
    margin-bottom: 0;
    color: #112363;
  }
  
  #conts-us .conts-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #112363;
  }
  
  #conts-us .conts-info a {
    color: #4869df;
  }
  
  #conts-us .conts-info a:hover {
    color: #edbf7b;
  }
  
  #conts-us .conts-address, #conts .conts-phone, #conts .conts-email {
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    #conts-us .conts-address, #conts .conts-phone, #conts .conts-email {
      padding: 20px 0;
    }
  }
  
  @media (min-width: 768px) {
    #conts-us .conts-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  
  #conts-us .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #933a41;
    text-align: left;
    padding: 15px;
    font-weight: normal;
  }
  
  #conts-us .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  #conts-us .php-email-form .required {
    display: block;
    color: white;
    text-align: left;
    padding: 0;
    font-weight: normal;
    font-size: 10px;
  }
  
  #conts-us .php-email-form .required br + br {
    margin-top: 5px;
  }
  
  #conts-us .php-email-form .sent-message {
    display: none;
    color: #222636;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #conts-us .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #conts-us .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #edbf7b;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #conts-us .php-email-form input, #conts .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #conts-us .php-email-form input:focus, #conts .php-email-form textarea:focus {
    border-color: #edbf7b;
  }
  
  #conts-us .php-email-form input {
    padding: 10px 15px;
  }
  
  #conts-us .php-email-form textarea {
    padding: 12px 15px;
  }
  
  #conts-us .php-email-form button[type="submit"] {
    background: #edbf7b;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
  }
  
  #conts-us .php-email-form button[type="submit"]:hover {
    background: #edbf7b;
  }

  /*--------------------------------------------------------------
# webinar
--------------------------------------------------------------*/
.pricing .box {
  padding-bottom:30px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;
  margin: auto;
  width: max-content;
}

.pricing .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.pricing h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}





.pricing .price span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing img {
 
  
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.pricing ul li {
  padding-bottom: 10px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #4154f1;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #4154f1;
}

.pricing .btn-buy:hover {
  background: #4154f1;
  color: #fff;
}

.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #4154f1;
  color: #fff;
}

.row{
  margin-left: 5%;
}

@media(max-width:600px) {
  .row{
    margin-left:-5%;
  }
  
}

.the-box{
  margin-bottom: 30px;;
}

.box h2{
  margin-top: 20px;
}
/* 
.col-lg-3 {
  padding:auto;
} */